<div class="container">
  <h2 class="title">SUBJECTS</h2>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div fxLayout="row">
      <div fxLayout="column" class="mr-10">
        <mat-form-field [style.display]="'none'">
          <mat-label>id</mat-label>
          <input matInput formControlName="id" />
        </mat-form-field>

        <mat-form-field class="mb-10">
          <mat-label>Subject code</mat-label>
          <input matInput formControlName="subjectCode" />

          <mat-error *ngIf="form.get('subjectCode')?.hasError('required')">
            Subject Code is required
          </mat-error>

          <mat-error *ngIf="form.get('subjectCode')?.hasError('pattern')">
            Subject Code must be exactly 3 uppercase letters
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Subject name</mat-label>
          <input matInput formControlName="subjectName" />
        </mat-form-field>
      </div>

      <div fxLayout="column" class="mr-10">
        <mat-form-field class="mb-10">
          <mat-label>Class number</mat-label>
          <input type="number" matInput formControlName="classNum" />
        </mat-form-field>

        <mat-form-field>
          <mat-label>Teacher name</mat-label>
          <input matInput formControlName="teacherName" />
        </mat-form-field>
      </div>

      <div fxLayout="column" class="mr-10">
        <mat-form-field>
          <mat-label>Teacher surname</mat-label>
          <input matInput formControlName="teacherSurname" />
        </mat-form-field>
      </div>

      @if(isEditMode) {
      <button
        mat-raised-button
        type="submit"
        color="primary"
        [disabled]="!form.valid"
      >
        <mat-icon>update</mat-icon> Update
      </button>
      } @else {
      <button
        mat-raised-button
        type="submit"
        color="primary"
        [disabled]="!form.valid"
      >
        <mat-icon>add</mat-icon> Add
      </button>
      }
    </div>
  </form>

  <app-table-wrap
    [displayedColumns]="displayedColumns"
    [isLoading]="isLoading"
    [dataSource]="dataSource"
    (remove)="removeSubject($event)"
    (edit)="editSubject($event)"
  ></app-table-wrap>
</div>
