<table
  mat-table
  [dataSource]="dataSource"
  class="mat-elevation-z8"
  class="primary-table"
  matSort
  (matSortChange)="announceSortChange($event)"
>
  <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
    <th
      mat-header-cell
      *matHeaderCellDef
      mat-sort-header
      sortActionDescription="Sort by name"
    >
      {{ column | titlecase }}
    </th>
    <td mat-cell *matCellDef="let element">
      @if (isDateColumn(column)) {
      {{ element[column] | date }}
      } @else {
      {{ element[column] }}
      }
    </td>
  </ng-container>

  <!-- Actions Column -->
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Actions</th>
    <td mat-cell *matCellDef="let element">
      <button mat-mini-fab color="primary" (click)="updateElement(element)">
        <mat-icon>edit</mat-icon>
      </button>

      <button mat-mini-fab color="warn" (click)="removeElement(element.id)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <!-- Header Row -->
  <tr mat-header-row *matHeaderRowDef="displayedColumns.concat('actions')"></tr>

  <!-- Data Row -->
  <tr
    mat-row
    *matRowDef="let row; columns: displayedColumns.concat('actions')"
  ></tr>

  <!-- No Data Row -->
  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" [attr.colspan]="displayedColumns.length + 1">
      <div class="mat-cell-block">
        <mat-icon color="primary">info</mat-icon> No data
      </div>
    </td>
  </tr>
</table>

<mat-paginator
  [pageSizeOptions]="[5, 10, 20]"
  showFirstLastButtons
  aria-label="Select page of periodic elements"
>
</mat-paginator>
