<div class="container">
  <h2 class="title">EXAMS</h2>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div fxLayout="row">
      <div fxLayout="column" class="mr-10">
        <mat-form-field [style.display]="'none'">
          <mat-label>id</mat-label>
          <input matInput formControlName="id" />
        </mat-form-field>

        <mat-form-field>
          <mat-label>Subject code</mat-label>
          <mat-select
            formControlName="subjectCode"
            (selectionChange)="(onChange)"
          >
            <mat-option
              *ngFor="let subject of subjects$ | async"
              [value]="subject.subjectCode"
            >
              {{ subject.subjectCode }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Subject name</mat-label>
          <mat-select formControlName="subjectName">
            <mat-option
              *ngFor="let subject of subjects$ | async"
              [value]="subject.subjectName"
            >
              {{ subject.subjectName }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div fxLayout="column" class="mr-10">
        <mat-form-field>
          <mat-label>Student number</mat-label>
          <mat-select
            formControlName="studentNum"
            (selectionChange)="(onChange)"
          >
            @for (student of students$ | async; track student) {
            <mat-option [value]="student.studentNum">
              {{ student.studentNum }}
            </mat-option>
            } @empty { Empty }
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Student Name</mat-label>
          <mat-select formControlName="studentName">
            @for (student of students$ | async; track student) {
            <mat-option [value]="student.studentName">
              {{ student.studentName }}
            </mat-option>
            } @empty { Empty }
          </mat-select>
        </mat-form-field>
      </div>

      <div fxLayout="column" class="mr-10">
        <mat-form-field>
          <mat-label>Exam date</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="examDate" />
          <!-- <mat-hint>MM/DD/YYYY</mat-hint> -->
          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Grade</mat-label>
          <input type="number" matInput formControlName="grade" />
        </mat-form-field>
      </div>

      @if(isEditMode) {
      <button
        mat-raised-button
        type="submit"
        color="primary"
        [disabled]="!form.valid"
      >
        <mat-icon>update</mat-icon> Update
      </button>
      } @else {
      <button
        mat-raised-button
        type="submit"
        color="primary"
        [disabled]="!form.valid"
      >
        <mat-icon>add</mat-icon> Add
      </button>
      }
    </div>
  </form>

  <table
    mat-table
    [dataSource]="dataSource"
    class="mat-elevation-z8"
    class="primary-table"
  >
    <ng-container matColumnDef="subjectCode">
      <th mat-header-cell *matHeaderCellDef>Subject Code</th>
      <td mat-cell *matCellDef="let exam">{{ exam.subjectCode }}</td>
    </ng-container>

    <ng-container matColumnDef="subjectName">
      <th mat-header-cell *matHeaderCellDef>Subject Name</th>
      <td mat-cell *matCellDef="let exam">{{ exam.subjectName }}</td>
    </ng-container>

    <ng-container matColumnDef="studentNum">
      <th mat-header-cell *matHeaderCellDef>Student Number</th>
      <td mat-cell *matCellDef="let exam">{{ exam.studentNum }}</td>
    </ng-container>

    <ng-container matColumnDef="studentName">
      <th mat-header-cell *matHeaderCellDef>Student Name</th>
      <td mat-cell *matCellDef="let exam">{{ exam.studentName }}</td>
    </ng-container>

    <ng-container matColumnDef="examDate">
      <th mat-header-cell *matHeaderCellDef>Exam Date</th>
      <td mat-cell *matCellDef="let exam">{{ exam.examDate | date }}</td>
    </ng-container>

    <ng-container matColumnDef="grade">
      <th mat-header-cell *matHeaderCellDef>Grade</th>
      <td mat-cell *matCellDef="let exam">{{ exam.grade }}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let exam">
        <button mat-mini-fab color="primary" (click)="updateExam(exam)">
          <mat-icon>edit</mat-icon>
        </button>

        <button mat-mini-fab color="warn" (click)="removeExam(exam.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns"
      class="mat-row"
    ></tr>

    <!-- No data row -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" [attr.colspan]="displayedColumns.length">
        <div class="mat-cell-block">
          <mat-icon color="primary">info</mat-icon> No data
        </div>
      </td>
    </tr>
  </table>
</div>
