<div class="container">
  <h2 class="title">EXAMS</h2>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div fxLayout="row">
      <div fxLayout="column" class="mr-10">
        <mat-form-field [style.display]="'none'">
          <mat-label>id</mat-label>
          <input matInput formControlName="id" />
        </mat-form-field>

        <mat-form-field class="mb-10">
          <mat-label>Subject code</mat-label>
          <mat-select formControlName="subjectCode">
            <mat-option
              *ngFor="let subject of subjects$ | async"
              [value]="subject.subjectCode"
            >
              {{ subject.subjectCode }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Subject name</mat-label>
          <mat-select formControlName="subjectName">
            <mat-option
              *ngFor="let subject of subjects$ | async"
              [value]="subject.subjectName"
            >
              {{ subject.subjectName }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div fxLayout="column" class="mr-10">
        <mat-form-field class="mb-10">
          <mat-label>Student number</mat-label>
          <mat-select formControlName="studentNum">
            @for (student of students$ | async; track student) {
            <mat-option [value]="student.studentNum">
              {{ student.studentNum }}
            </mat-option>
            }
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Student Name</mat-label>
          <mat-select formControlName="studentName">
            @for (student of students$ | async; track student) {
            <mat-option [value]="student.studentName">
              {{ student.studentName }}
            </mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>

      <div fxLayout="column" class="mr-10">
        <mat-form-field class="mb-10">
          <mat-label>Exam date</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="examDate" />
         
          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Grade</mat-label>
          <input type="number" matInput formControlName="grade" />
        </mat-form-field>
      </div>

      @if(isEditMode) {
      <button
        mat-raised-button
        type="submit"
        color="primary"
        [disabled]="!form.valid"
      >
        <mat-icon>update</mat-icon> Update
      </button>
      } @else {
      <button
        mat-raised-button
        type="submit"
        color="primary"
        [disabled]="!form.valid"
      >
        <mat-icon>add</mat-icon> Add
      </button>
      }
    </div>
  </form>

  <app-table-wrap
    [displayedColumns]="displayedColumns"
    [dataSource]="dataSource"
    (remove)="removeExam($event)"
    (edit)="editExam($event)"
  ></app-table-wrap>
</div>
